<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		.fieldError {
			color:red;
		}
	</style>
</head>
<body>
	<form action="#" th:action="@{/users-save}" th:object="${usersForm}" method="post">
		<p th:text="${allRoles}"/>
		<ul>
			<li th:each="user : *{users}">
				<input type="text" th:field="*{users[__${userStat.index}__].name}" />
				<input type="text" th:field="*{users[__${userStat.index}__].email}" th:errorClass="fieldError"/>
				<span th:each="role : ${allRoles}">
    				<input type="checkbox" th:field="*{users[__${userStat.index}__].roles}" th:value="${role}"/>
    				<label th:for="${#ids.prev('users__${userStat.index}__.roles')}" th:text="${role}">ROLE</label>
  				</span>
				<span th:if="${#fields.hasErrors('users[__${userStat.index}__].roles')}" th:text="error" class="fieldError">error</span>  				
				<a href="remove.html" th:href="@{/users/remove/{userName}(userName=${user.name})}">remove</a>
				<a href="buy.html" th:href="@{/users/cart-add/{userName}(userName=${user.name})}">buy</a>
			</li>
		</ul>
		
		<input type="submit" value="Save Changes"/>
	
	</form>
	
	Your Cart :
	
	<ul>
		<li th:each="user : ${shoppingCart.users}">
			<div th:replace="macros::shoppingCartUser(user=${user})">
				nie
			</div>
		</li>
	</ul>
	
	
	
</body>
</html>